.controls {
    width: 70%;
    margin: 0 auto;
}
.btn{
    margin: 2px;
}
.name{
    text-align: center;
}
input.init {
     width: 40%;
}
.header{
    text-align: center;
}
.action{
    display: flex;
    margin-right:10px;
}
.checkbox{
    width: 20px;
}
.buttons{
    width:500px;
    margin-left: 15px;
    margin-top: 10px;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
    pointer-events: inherit;
    z-index:10;
    margin: 3px;
    cursor: pointer;    
    transform: scale(1.3);
}
.checkbox-actions{
    width: 100%;
    margin-top: 95%;
}